@using WebNewBook.Model
@model PhieuGiamGiaSP

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <label asp-for="ID_PhieuGiamGiaSP" class="col-sm-2 col-form-label">ID</label>
                <input asp-for="ID_PhieuGiamGiaSP" class="form-control" value="NV"/>
                <span asp-validation-for="ID_PhieuGiamGiaSP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenPhieu" class="control-label">Tên phiếu</label>
                <input asp-for="TenPhieu" class="form-control" />
                <span asp-validation-for="TenPhieu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GiaTri" class="control-label">Giá trị</label>
                <input asp-for="GiaTri" class="form-control" />
                <span asp-validation-for="GiaTri" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SPChoPhep" class="control-label">Hạn mức</label>
                <input asp-for="SPChoPhep" class="form-control" />
                <span asp-validation-for="SPChoPhep" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TheLoai" class="control-label">Thể loại</label>
                <select asp-for="TheLoai" class="form-control" />
                <option value= "0" selected>Phần trăm</option>
                <option value= "1" selected>Giá tiền</option>
            </div>
             <div class="form-group">
                <label asp-for="NgayBatDau" class="control-label">Ngày bắt đầu</label>
                <input asp-for="NgayBatDau" class="form-control" />
                <span asp-validation-for="NgayBatDau" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="NgayHetHan" class="control-label">Ngày hết hạn</label>
                <input asp-for="NgayHetHan" class="form-control" />
                <span asp-validation-for="NgayHetHan" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Nhập phiếu</button>
        </form>
    </div>
</div>
