@using WebNewBook.Model.APIModels
@using X.PagedList
@using X.PagedList.Mvc.Core
@model SachViewModel

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section Scripts{
<script>
     $("#selectNXB").change(function (){

         var $form = $(this).closest('form');
           $form.find('button[type=submit]').click();

    });
    setTimeout(function(){
           $('#msNXB').fadeOut('slow');
       },1500)
</script>

}
<div class="container" style="background-color: #f1f1f1;">
    <div class="container " style="background-color: rgb(255, 255, 255);">
        <div class="py-3">
            <h6>
                <div class="row">
                    <form asp-action="Index" class="row">
                        <div class="col-5 mb-3">
                            <input type="text" name="timKiem" class="form-control" placeholder="Mời bạn nhập tên sách để tìm kiếm">
                        </div>
                        <div class="col-2">
                            <button type="submit" class="btn btn-secondary">Tìm kiếm</button>
                        </div>
                    </form>
                    <div class="col-3">
                        <!-- Button trigger modal -->
                        <a type="button" class="btn btn-primary" asp-action="Create">
                            <i class="fa-solid fa-address-book"></i> Thêm sách
                        </a>
                    </div>
                </div>
            </h6>
        </div>
    </div>
    <br>
    <div class="container " style="background-color: rgb(255, 255, 255);">
        <div class="py-3">
            <p>
                <table class="table">
                    <thead class="table-secondary">
                        <tr>
                            <th scope="col">Tên sách</th>
                            <th scope="col">Số trang</th>
                            <th colspan="2" style="text-align: center ;">Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewBag.Sach)
                        {
                            <tr>
                                <th scope="row">@item.Sach.TenSach</th>
                                <td>@item.Sach.SoTrang</td>
                                <td><a type="button" class="btn border bg-primary" asp-action="Update" asp-route-id="@item.Sach.ID_Sach"><i class="fa-solid fa-pen"></i></a></td>
                            </tr>
                        }
                    </tbody>
                </table>
                @Html.PagedListPager((IPagedList)ViewBag.Sach, page => Url.Action("Index","QLSach",new {timKiem = ViewBag.TimKiem, trangThai =ViewBag.TrangThai, page = page}),new X.PagedList.Web.Common.PagedListRenderOptions{LiElementClasses = new string[] { "page-item" },PageClasses = new string[] { "page-link" }})
            </p>
        </div>
    </div>
</div>


