@using WebNewBook.API.ModelsAPI
@using WebNewBook.Model
@using WebNewBook.Model.APIModels
@model Sach

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@if (!string.IsNullOrEmpty(ViewBag.Error))
{
    <h1 class="text-danger">@ViewBag.Error</h1>
}
<div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data" asp-action="Update" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TenSach" class="control-label">Tên sách</label>
                <input asp-for="TenSach" class="form-control" />
                <span asp-validation-for="TenSach" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Tác giả</label>
                <select id="TacGias" name="SelectedTacGias"
                        asp-items="@ViewBag.TacGias" multiple class="form-control">
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Thể loại</label>
                <select id="TheLoais" name="SelectedTheLoais"
                        asp-items="@ViewBag.TheLoais" multiple class="form-control">
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Hình ảnh</label>
                <input type="file" name="file" class="form-control" accept=".jpg, .png, .jpeg, .gif, .jfif, .bmp, .tif, .tiff|image/*"/>
            </div>
            <div class="form-group">
                <label asp-for="MaNXB" class="control-label">Nhà xuất bản</label>
                <select asp-for="MaNXB" class="form-control" asp-items="ViewBag.NXBs"></select>
            </div>
            <div class="form-group">
                <label asp-for="GiaBan" class="control-label">Giá bán</label>
                <input asp-for="GiaBan" class="form-control" />
                <span asp-validation-for="GiaBan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoTrang" class="control-label">Số trang</label>
                <input asp-for="SoTrang" class="form-control" />
                <span asp-validation-for="SoTrang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TaiBan" class="control-label">Tái bản</label>
                <input asp-for="TaiBan" class="form-control" />
                <span asp-validation-for="TaiBan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MoTa" class="control-label">Mô tả</label>
                <input asp-for="MoTa" class="form-control" />
                <span asp-validation-for="MoTa" class="text-danger"></span>
            </div>
            <input asp-for="ID_Sach" hidden />
            <input asp-for="HinhAnh" hidden />
            <input asp-for="TrangThai" hidden />
            <input asp-for="SoLuong" hidden />
            <button onclick="GetFileName()" type="submit" class="btn btn-primary">Nhập sản phẩm</button>
        </form>
    </div>
</div>

@section Scripts{
<script>
    $(function() {
        $("#TheLoais").chosen();
        $("#TacGias").chosen();
    });
</script>
}