<!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" asp-controller="Admin" asp-action="Index">
                <div class="sidebar-brand-icon rotate-n-15">
                   <i class="fa-solid fa-book"></i>
                </div>
                <div class="sidebar-brand-text mx-2"> Newbook<sup>UPDM30</sup></div>
            </a>
              @if (User.IsInRole("Admin"))
    {
        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item ">
            <a class="nav-link" href="index.html">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Biểu đồ</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Quản lý người dùng
        </div>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item ">
            <a class="nav-link" asp-controller="Customer" asp-action="Index">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Thông tin người dùng</span>
            </a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" href="index.html">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Số lượng truy cập</span>
            </a>
        </li>



        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Tổng quan sản phẩm
        </div>




        <!-- Nav Item - Charts -->
        <li class="nav-item ">
            <a class="nav-link" asp-controller="QLSanPham" asp-action="Index">
                <i class="fa-solid fa-book"></i>
                <span>Sản phẩm</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="QLDanhMuc" asp-action="Index">
                <i class="fa-solid fa-book"></i>
                <span>Danh mục</span>
            </a>
        </li>
        <!-- Nav Item - Tables -->
        <li class="nav-item">
            <a class="nav-link" asp-controller="QLTheLoai" asp-action="Index">
                <i class="fa-solid fa-book"></i>
                <span>Thể loại</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="QLTacGia" asp-action="Index">
                <i class="fa-solid fa-book"></i>
                <span>Tác giả</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="QLNhaXuatBan" asp-action="Index">
                <i class="fa-solid fa-book"></i>
                <span>Nhà xuất bản</span>
            </a>
        </li>
           <li class="nav-item">
            <a class="nav-link" asp-controller="HoaDon" asp-action="Index">
                <i class="fa-solid fa-book"></i>
                <span>Hóa đơn</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Voucher" asp-action="Index">
                <i class="fas fa-fw fa-table"></i>
                <span>Voucher</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="tables.html">
                <i class="fas fa-fw fa-table"></i>
                <span>Khuyến mại</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">
        <div class="sidebar-heading">
            Thống kê
        </div>
        <li class="nav-item">
            <a class="nav-link" href="tables.html">
                <i class="fas fa-fw fa-table"></i>
                <span>Thống kê</span>
            </a>
        </li>
        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
            }

        </ul>
        <!-- End of Sidebar -->