@using WebNewBook.Model
@using WebNewBook.Model.APIModels
@model SanPhamAPI

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var sachs = ViewBag.Saches;
}
@if (!string.IsNullOrEmpty(ViewBag.Error))
{
    <h1 class="text-danger">@ViewBag.Error</h1>
}
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SanPham.TenSanPham" class="control-label">Tên sản phẩm</label>
                <input asp-for="SanPham.TenSanPham" class="form-control" />
                <span asp-validation-for="SanPham.TenSanPham" class="text-danger"></span>
            </div>
            <div class="form-group">
                @for (var i = 0; i < ViewBag.Saches.Count; i++)
                {
                    string a = i < ViewBag.Saches.Count - 1 ? "-" : string.Empty;
                    <a asp-action="Update" asp-controller="QLSachCT" asp-route-id=@ViewBag.Saches[i].SachCT.ID_SachCT> @ViewBag.Saches[i].TenSach </a> @a
                }
                @*@foreach (var item in ViewBag.Saches)
                {
                    <a asp-action="Update" asp-controller="Sach" asp-route-id=@item.ID_Sach> @item.TenSach - </a>
                }*@
            </div>
            <div class="form-group">
                <label asp-for="SanPham.HinhAnh" class="control-label">Hình ảnh</label>
                <input type="text" asp-for="SanPham.HinhAnh" hidden />
                <input type="file" accept=".jpg, .png, .jpeg, .gif, .jfif, .bmp, .tif, .tiff|image/*" class="form-control" name="file" />
                <span asp-validation-for="SanPham.HinhAnh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SanPham.SoLuong" class="control-label">Số lượng</label>
                <input asp-for="SanPham.SoLuong" class="form-control" />
                <span asp-validation-for="SanPham.SoLuong" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <input asp-for="SanPham.GiaBan" class="form-control" value="0" />
            </div>
@*            <div class="form-group">
                <label asp-for="SanPham.MaPhieuGiamGiaSP" class="control-label">Khuyến mại</label>
                <input asp-for="SanPham.MaPhieuGiamGiaSP" class="form-control" />
                <span asp-validation-for="SanPham.MaPhieuGiamGiaSP" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="GiamGia" class="control-label">Giảm %</label>
                <input asp-for="GiamGia" class="form-control" />
                <span asp-validation-for="GiamGia" class="text-danger"></span>
            </div>
            <input asp-for="Sachs" hidden />
            <input asp-for="SanPham.ID_SanPham" value="@Model.SanPham.ID_SanPham" hidden />
            <input asp-for="SanPham.GiaGoc" hidden />
            <input asp-for="SanPham.NgayTao" hidden />
            <button type="submit" class="btn btn-warning"><i class="fa-solid fa-pen"></i>  Sửa sản phẩm</button>
        </form>
    </div>
</div>

@section Scripts{
<script>
    $(function() {
        $("#Sachs").chosen();
    });
</script>
}