@{
    //ViewBag.Title = "Quên mật khẩu";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@using WebNewBook.API.ModelsAPI
@model ChangePasswordModel

<div class="row">
    <div class="col-md-4">
        <h1>Đổi mật khẩu mật khẩu</h1>
        @if (ViewBag.Error != null)
        {
            <h3 class="text-danger"> @ViewBag.Error</h3>
        }
        <form asp-action="ChangePasswordNV" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="OldPassword">Mật khẩu cũ </label>
                <input asp-for="OldPassword" type="password" placeholder="Mật khẩu cũ" class="form-control">
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password">Mật khẩu mới </label>
                <input asp-for="Password" type="password" placeholder="Mật khẩu mới" class="form-control">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword">Xác nhận mật khẩu mới</label>
                <input asp-for="ConfirmPassword" type="password" placeholder="Xác nhận" class="form-control">
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <input asp-for="ID" value=@User.Claims.FirstOrDefault(c => c.Type == "Id").Value class="form-control">
                <input asp-for="NhanVien" value=true class="form-control">
            </div>
            <button class="btn btn-primary">Đổi mật khẩu</button>
        </form>
    </div>
</div>

