<!-- BREADCRUMB -->
		<div id="breadcrumb" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<ul class="breadcrumb-tree">
							<li><a href="#">Home</a></li>
							<li><a href="#">Book</a></li>
							
						</ul>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
<!-- /BREADCRUMB -->

<div class="section">
   
      
    <div class="container">
      
        <div class="col-sm-12">
            <div class="table-responsive">
                <div class="text-black">Giỏ hàng của bạn</div>
                <br />
                <table class="table table-bordered">
                    <tr>
                        <th>Hình</th>
                        <th>Tên sản phẩm</th>
                        <th>Số lượng</th>
                        <th>Đơn giá</th>
                        <th>Thành tiền</th>
                        <th></th>
                    </tr>
                    
                        <tr>
                            <td class="text-center"><img src="~/img/product01.png" width="70" height="60" /> </td>
                            <td> Sách x </td>
                            <td>
                                <form asp-action="SuaSoLuong" method="get">
                                    <input type="hidden" name="id" value="2" />
                                    <input type="number" min="1" step="1" name="soluongmoi" max="100" value="2" />
                                   
                                </form>
                            </td>
                            <td > 2000 VNĐ </td>
                            <td > 4000 VNĐ </td>

                            <td> <a class="btn btn-danger btn-sm">Xóa</a </td>
                    

                    <tr>
                        <td></td>
                        <td class="text-right">Tổng số lượng:</td>
                        <td> 2 </td>
                        <td class="text-right">Tổng thành tiền:</td>
                        <td>400 VNĐ </td>

                    </tr>
                </table>
            </div>
             <a class="btn btn-primary btn-sm" >
                          Mua hàng
                 </a>

        </div>
    </div>
 </div>
