@{
   
       var color = "danger";
      var  button = "Quay lại thanh toán";
     var   link = "/Payment/Checkout";
     if (ViewBag.SuccessMessage == "Đặt hàng thành công"){
          color="success";
     button = "Tiếp tục mua hàng";
     link = "/Home";
    }
     ViewData["Title"] = "Pay";
   Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="section">

        <div class="container">

                <div class="panel panel-@color">
				<div class="panel-heading">
      
				<h1 class="panel-title">@if(@ViewBag.SuccessMessage != null){
						@ViewBag.SuccessMessage
                
                }

				</h1>
				</div>
               
				
				</div>
       
                <a href="@link" class="btn btn-primary float-right">@button</a>
         </div>
</div>
