
@{
    ViewData["Title"] = "VNPayReturn";
    var color = "success";
    if (ViewBag.vnp_TransactionStatus!="00"){
        color = "danger";
	}
    ViewBag.Title = "Return Payment";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="section">

        <div class="container">

                <div class="panel panel-@color">
				<div class="panel-heading">
      
				<h1 class="panel-title">@if (ViewBag.Message != null)
						@ViewBag.Message

				</h1>
				</div>
				<a href="/Home" class="btn btn-primary float-right">Tiếp tục mua hàng</a>
				</div>
       

         </div>
</div>
