
@{

    ViewData["Title"] = "Báo cáo thống kê";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="container-fluid">
 
    <div class="bg-light d-flex align-items-center justify-content-between col-md-2 ">
        <select class="form-select" aria-label="Default select example" id="value_Type">

            <option value="1">Năm hiện tại</option>
            <option value="2">Tháng hiện tại</option>
        </select>
    </div>
    <div class="row g-4 ">
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light d-flex align-items-center justify-content-between p-4">
                <i class="fas fa-dollar-sign fa-2x text-primary"></i>
                <h5 class="mb-0 fw-bold text-dark text-uppercase">Doanh thu:</h5>
                <h5 class="mb-0" id="total_money"></h5>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light d-flex align-items-center justify-content-between p-4 px-2">

                <i class="fas fa-shopping-cart text-primary fa-2x"></i>
                <h5 class="mb-0 fw-bold text-dark text-uppercase">Tổng đơn hàng:</h5>
                <h5 class="mb-0" id="total_oder"></h5>

            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light d-flex align-items-center justify-content-between p-4 px-2">

                <i class="fas fa-book text-primary fa-2x"></i>
                <h5 class="mb-0 fw-bold text-dark text-uppercase">Sản phẩm bán ra:</h5> 
                <h5 class="mb-0" id="total_product"></h5>

            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light d-flex align-items-center justify-content-between p-4 px-2">
                <div class="mb-2 row">
                    <div class="row">
                        <div class="col-5">
                            <input class="form-control" type="date" id="date_start"  />
                        </div>
                        <div class="col-5">
                            <input class="form-control" type="date" id="date_end" />
                        </div>
                        <div class="col-2">
                            <button type="submit" class="btn btn-primary" onclick=" return GetFillterReprort()">Lọc</button>
                        </div>
                    </div>



                </div>
                

            </div>
        </div>
      
    </div>
       

    <!-- Content Row -->
    <div class="row">
        <div>

            <a class="d-none d-sm-inline-block btn btn-sm btn-primary mb-2" href="#" id="btnExport">
                    <i class="fas fa-download fa-sm text-white-50"></i>  Xuất Excel
                </a>

               
         
        </div>
        <div class="col-xl-6 col-lg-6">
            <div class="card shadow mb-4">
                <table class="table">

                    <thead>
                        <tr>
                            <th>
                                Ngày bán
                            </th>
                            <th>
                                Tổng doanh thu
                            </th>
                            <th>
                                Tổng đơn hàng
                            </th>
                            <th>
                                Số lượng sản phẩm bán ra
                            </th>

                        </tr>
                    </thead>
                    <tbody class="datatable_report">
                        
                         
                        
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6">



            <!-- Bar Chart -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-dark">Doanh thu</h6>
                </div>
                <div class="card-body">
                    <div class="chart-bar">
                        <canvas id="myBarChart"></canvas>
                    </div>
                    <hr>

                    <code>/js/demo/chart-bar-demo.js</code>
                </div>
            </div>

        </div>


    </div>







</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/linways/table-to-excel@v1.0.4/dist/tableToExcel.js"></script>
<script src="~/js/report_admin.js" asp-append-version="true"></script>
